<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel"/>
  </configSections>
  <sitecore>
    <pipelines>
      <IocTestContainer>
        <processor type="SymDemo.UnityContainerManager.Pipelines.StartUpUnityContainerManagerInitialization, Comcast.UnityContainerManager"/>
      </IocTestContainer>
      <IocBootstrap>
        <processor type="SymDemo.UnityContainerManager.Tests.Unit.InjectedPipeline, SymDemo.UnityContainerManager.Tests.Unit"/>
      </IocBootstrap>
    </pipelines>
  </sitecore>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
