<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="SymDemo.Pipeline.DependencyInjection.DependencyResolverRegistrationProcessor, SymDemo.Core"
                   patch:after="*[last()]"/>
        <processor type="SymDemo.Pipeline.DependencyInjection.StartUpUnityContainerManagerInitialization, SymDemo.Core"
                   patch:after="*[last()]"/>                         
      </initialize>
    </pipelines>
  </sitecore>
</configuration>