@inherits GlassView<SymDemo.Site.Models.Items.ScrollSource>
@{
    var isInEditingMode = Sitecore.Context.PageMode.IsExperienceEditorEditing;
}
<article class="starwars">
    @if (!isInEditingMode)
    {
        <audio  autoplay="autoplay">
            <source src="/Areas/SymDemo/Assets/audio/starwars.mp3" type="audio/mpeg"/>
        </audio>
        @Html.AddStyle("/Areas/SymDemo/Assets/styles/animate.css")
    }
    
    <div class="animation">

        <section class="intro">
            @Editable(m => m.Intro)
        </section>

        <section class="logo">
            @Editable(m => m.Image)
        </section>

        <section class="titles">
            <div>
                 @Editable(m => m.Text)
            </div>
        </section>

    </div>
</article>