<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="website">
        <patch:delete/>
      </site>
      <site name="website" 
            enableTracking="true" 
            virtualFolder="/" 
            physicalFolder="/" 
            rootPath="/sitecore/content" 
            startItem="/home" 
            database="web" 
            domain="extranet" 
            allowDebug="true" 
            cacheHtml="true"
            htmlCacheSize="50MB" 
            registryCacheSize="0" 
            viewStateCacheSize="0" 
            xslCacheSize="25MB" 
            filteredItemsCacheSize="10MB" 
            enablePreview="true" 
            enableWebEdit="true" 
            enableDebugger="true" 
            disableClientData="false"
            cacheRenderingParameters="true" 
            renderingParametersCacheSize="10MB" 
            language="en" 
            formsRoot="{F1F7AAB6-C8CE-422F-A214-F610C109FA63}"
            itemwebapi.allowanonymousaccess="false" 
            enableItemLanguageFallback="true" 
            enableFieldLanguageFallback="true" 
            itemwebapi.mode="AdvancedSecurity" 
            itemwebapi.access="ReadWrite"
        patch:after="*[@name='modules_website']"/>
    </sites>
  </sitecore>
</configuration>