<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SymDemo.Common.Tests.Functional.Settings.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SymDemo.Common.Tests.Functional.TestData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <plugins>
      <add name="SpecRun" />
    </plugins>
    <unitTestProvider name="SpecRun" />
  </specFlow>
  <userSettings>
    <SymDemo.Common.Tests.Functional.Settings.ApplicationSettings>
      <setting name="SitecoreUrl" serializeAs="String">
        <value>http://sym-demo.local</value>
      </setting>
      <setting name="SitecoreAdminUser" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="SitecoreAdminPassword" serializeAs="String">
        <value>b</value>
      </setting>
      <setting name="WebDriver" serializeAs="String">
        <value>PhantomJS</value>
      </setting>
      <setting name="TestResultsFolder" serializeAs="String">
        <value>TestResults</value>
      </setting>
    </SymDemo.Common.Tests.Functional.Settings.ApplicationSettings>
  </userSettings>
</configuration>