<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <userSettings>
    <SymDemo.Site.Tests.Functional.Settings.ApplicationSettings>
      <setting name="SitecoreUrl" serializeAs="String" xdt:Transform="Replace"  xdt:Locator="Match(name)" >
        <value>#{Url}</value>
      </setting>
      <setting name="WebDriver" serializeAs="String" xdt:Transform="Replace"  xdt:Locator="Match(name)">
        <value>PhantomJS</value>
      </setting>
    </SymDemo.Site.Tests.Functional.Settings.ApplicationSettings>
  </userSettings>
</configuration>